


/* Copyright text */
.copyright {
  position: fixed;
  bottom: 37px;
  left: 10px;
  font-size: 20px;
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 50px;
  color: #0000007e;
}

.name {
  position: fixed;
  bottom: 15px;
  left: 10px;
  font-size: 20px;
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 50px;
  color: #0000007e;
}

.disclaimerHome{
  position: fixed;
  width: 30vw;
  top: 15px;
  left: 10px;
  font-size: 17px;
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 50px;
  color: #0000007e;
}

.disclaimerMenu{
  transform: rotate(3deg);
  position: fixed;
  width: 30vw;
  translate: -40vw 4vw;
  font-size: 2vw;
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 50px;
  color: #000000;
}

.worksTitle{
  position: static;
  width: 37vw;
  translate: 11vw 8vw;
  font-size: 3vw;
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 50px;
  color: #000000c7;
}

.worksText{
  position: static;
  width: 37vw;
  translate: 11vw 10vw;
  font-size: 2vw;
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 50px;
  color: #000000af;
}

#navigationTitle{
  transform: rotate(2deg);
  position: static;
  width: 37vw;
  padding-bottom: 0.7vw;
  translate: 5vw 0vw;
  font-size: 2.5vw;
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 50px;
  color: #000000;
}

#navigationMainText{
  transform: rotate(2deg);
  position: static;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0.5vw;
  width: 30vw;
  translate: 11vw 0vw;
  font-size: 1.7vw;
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 50px;
  color: #000000;
}

#navigationText{
  transform: rotate(2deg);
  position: static;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0.3vw;
  width: 30vw;
  translate: 13vw 0vw;
  font-size: 1.7vw;
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 50px;
  color: #000000;
}

.textMenu{
  transform: rotate(-2deg);
  position: fixed;
  width: 36vw;
  translate: -42.6vw 22vw;
  line-height: 2vw;
  font-size: 1.54vw;
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 50px;
  color: #000000;
}